<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passport TEST</title>
</head>
<body>

    <!-- Notifications -->
    <% if(signupMessage){ %>
        <div><%= signupMessage %></div>
    <% } %>

    <% if(signinMessage){ %>
        <div><%= signinMessage %></div>
    <% } %>

    <!-- body -->
    <%- body %>
    
</body>
</html>