<%- layout('layout/main.ejs') %> 

<form action="/signup" method="post">

    <input type="email" name="email" placeholder="Insert emaail">
    <input type="password" name="password" placeholder="Insert password">

    <button type="submit">Signup</button>


</form>